
    #bg
    {
        background: rgb(248, 142, 2); 
    } 

    #navbarSupportedContent li a
    {
        // padding:10px;
        padding-bottom: 0;
    }

    #navbarSupportedContent li
    {
        padding-bottom: 0;
        margin-right: 5px;
    }
     #idDrop a{
         height: 50px;
         line-height: 50px;
     }
     #idDrop a:hover{
         background-color: #FFEBD1;
    }
     #idDrop{
         padding-top: 0;
         padding-bottom: 0;
    }

    .coltext
    {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    .pozM
    {
        position: relative;
        left: 700%;
    }
    #colorT
    {
        color: #FFF;
    }
    #idHome
    {
        color: #FFF;
    }
    .clssAjout
    {
        color: #FFF;
    }
    #navbarDropdown
    {
        color: #FFF;  
    }
    nav a
    {
        color: #FFF;
    }
    li a
    {
        color: #FFF;
    }
    .select a
    {
        color: #000; 
    }
    form a {
        text-decoration: none;
    }
