
    #bg
    {
        background: rgb(148, 155, 154); 
    } 
    .coltext
    {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    .pozM
    {
        position: relative;
        left: 700%;
    }
    #colorT
    {
        color: #FFF;
    }
    #idHome
    {
        color: #FFF;
    }
    .clssAjout
    {
        color: #FFF;
    }
    #navbarDropdown
    {
        color: #FFF;  
    }
    nav a
    {
        color: #FFF;
    }
    li a
    {
        color: #FFF;
    }
    .select a
    {
        color: #000; 
    }
    form a {
        text-decoration: none;
    }